.footer {
  background-color: #ca1c73;
  color: #eee;
  padding: 15px;
  justify-content: space-around;
  text-align: center;
}

.footer iframe {
  width: 100%;
  max-width: 500px;
  height: 250px;
  border-radius: 10px;
  margin: 0;
}

.footer .texto-footer {
  text-align: center;
  margin: auto;
}
