
.bg-form {
  background-color: rgba(218, 211, 202, 0.9);
}

.border-pink {
  border: 1.5px solid #ca1c73;
}

.btn-pink {
  background-color: #ca1c73;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
}

.btn-pink:hover {
  background-color: #ca1c73;
  color: #000;
}




